<% if @reminders.size > 0 %>	
	<table class="horizontal-zebra">
	  <thead>
	  	<tr>
	  	  <th colspan="3"><strong class="title">Reminders</strong> (<%= link_to 'add new reminder', new_user_reminder_path(current_user) %>)</th>				  
		  <th></th>
		  <th></th>
		  <th></th>		
		</tr>	  
	    <tr>
	      <th class="sortable"><%= sort_link 'Category', :name %></th>
	      <th class="sortable"><%= sort_link 'Date', :date %></th>
	      <th class="sortable"><%= sort_link 'Description', :description %></th>
		  <th colspan="2" class="unsortable">Options</th>			  
		  <th></th>
	    </tr>
	  </thead>
	  <tbody>
		<% @reminders.each do |reminder| %>
			  <tr class="<%= cycle('even', 'odd')%>">	  	
			    <td><%=h reminder.category.name %></td>
			    <td class="date"><%=h pretty_date(reminder.date) %></td>
			    <td class="description"><%=h reminder.description %></td>
				<td><%= link_to 'View', user_reminder_path(@user, reminder) %></td>  	    
				<td><%= link_to 'Edit', edit_user_reminder_path(@user, reminder) %></td>    
			    <td><%= link_to 'Delete', user_reminder_path(@user, reminder), :confirm => 'Are you sure you want to delete the reminder?', :method => :delete %></td>
			  </tr>
		<% end %>
	  </tbody>
	</table>
<% else %>
	<strong>No Reminders</strong> (<%= link_to 'add new reminder', new_user_reminder_path(current_user) %>)
<% end %>	
<br/><br/>