<h2>Your Reminders</h2>
<br />

View: <%= view_link 'Standard', 'standard' %> | <%= view_link 'Category Based', 'category-based' %> 
<br /><br />

<% if @view_type == 'standard' %>
	<%= render :partial => "standard", :locals => { :reminders => @reminders } %>
<% else %>
	<%= render :partial => "category_based", :locals =>
		{ :user => @user, :categories => @categories, :reminders => @reminders } %>
<% end %>

<%= link_to 'Back', @user %>