<h1>New reminder</h1>

<% form_for(@reminder) do |f| %>
  <%= f.error_messages %>

  <p>    
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </p>
  <p>
    <%= f.label :category_id %><br />
    <%= f.select :category_id, @categories.map {|u| [u.name, u.id]} %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date, :start_year => Date.today.year + 10, :end_year => 1900%>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', current_user %>