<div class="horizontal-zebra">
	<p class="head">
		<b>Reminder</b>
	</p>
	<p class="odd">
	  <b>Category:</b>
	  <%=h @category.name %>
	</p>	
	<p>
	  <b>Date:</b>
	  <%=h pretty_date(@reminder.date) %>
	</p>
	
	<p class="odd">
	  <b>Description:</b>
	  <%=h @reminder.description %>
	</p>
</div>

<br />

<%= link_to 'Back', current_user %> |
<%= link_to 'Edit', edit_user_reminder_path(current_user, @reminder) %>
