<h3>Change password</h3>

<% form_for(@user, :url => change_password_path) do |f| %>
	<%= f.error_messages %>

	<p>
    	<%= f.label :password %><br />
    	<%= f.password_field :password %><br />
	</p>
	<p>
    	<%= f.label :password_confirmation %><br />
    	<%= f.password_field :password_confirmation %><br />
	</p>

	<%= submit_tag 'Change Password' %><br /><br />
<% end %>

<%= link_to 'Back', edit_user_path %>

