<% form_tag 'login' do %>

	<%= error_messages_for 'user' %><br/>
	
	<h3>Login</h3> 
	
	<label for="user_login">Username:</label><br/>
  	<%= text_field :user, :username, :size => 20 %><br/><br/>
	
	<label for="user_password">Password:</label><br/>
  	<%= password_field :user, :password, :size => 20 %><br/><br/>
	
	<%= submit_tag "Submit" %>
	
	<%= link_to 'Register', :action => 'new' %> |
    <%= link_to 'Forgot my password', '/forgot_password' %>   
	
  <% end %>
