<%= render :partial => "reminders/standard", :locals => 
	{ :reminders => @reminders } %>

<div id="footer">
	<%= link_to 'Edit Profile', edit_user_path(@user) %> |
	<%= link_to 'Reminders', user_reminders_path(@user) %> |
	<%= link_to 'Manage Categories', user_categories_path(@user) %> |
	<%= link_to 'Logout', logout_path %>
</div>
