<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Dream Remind</title>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<% flash.each do |key, value| -%>
  <div id="flash-div" class="<%= key %>">  	
	<%= value %>
  </div>
  <% content_tag :script, :type => "text/javascript" do -%>
	setTimeout("new Effect.Fade('flash-div');", 10000);
  <% end %>
<% end -%>

<%= yield %>

</body>
</html>
